/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

/* Reset default styles and set the font */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* General styles for the body */
body {
    height: 100vh;
    background-color: #f1f1f1;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Animated gradient background */
body {
    background: linear-gradient(135deg, #ffe345, #79ccea, #fab535, #01016f);
    background-size: 400% 400%;
    animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    75% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Button styles */
.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.button-container button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e6e6e6;
    color: #333333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #cccccc;
}

/* Header styles */
#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-container {
    text-align: center;
    margin-bottom: 20px;
}

#title {
    text-align: center;
    margin-bottom: 8px;
}

#subtitle {
    font-size: 20px;
}

/* Input styles */
.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-container input {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e6e6e6;
    color: #333333;
    border: none;
    text-align: center;
}

.input-container input:focus {
    outline: none;
    box-shadow: 0 0 5px #999999;
}

.input-container button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e6e6e6;
    color: #333333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-container button:hover {
    background-color: #cccccc;
}

/* Game container styles */
#game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Player container styles */
.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px;
    text-align: center;
    color: #333333;
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 10px;
    max-width: 518.9px;
    flex-basis: 80%;
}

/* Set max width for player containers */
@media screen and (max-width: 518.9px) {
    .player-container {
        flex-basis: 100%;
    }
}

/* Table container styles */
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px;
    text-align: center;
    color: #333333;
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 10px;
    max-width: 518.9px;
}

.table-container h3 {
    margin: 0;
    margin-bottom: 10px;
}

.table-container table {
    margin-top: 5px;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    border: 1px solid;
    padding: 5px;
}

.table-container td {
    text-align: center;
    border: 1px solid #b0b0b0;
}

/* Game table styles */
.game-container {
    display: flex;
    width: 100%;
    border-collapse: collapse;
    max-width: 518.9px;
    margin: 12px;
    text-align: center;
    color: #333333;
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 15px;
}

.game-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    padding: 20px;
}

.game-container td {
    border: 1px solid #333333;
    padding: 3px;
    text-align: center;
    border: 1px solid #b0b0b0;
}

/* Marked number styles */
.marked {
    text-decoration: line-through;
    background-color: #b2b2b2;
}
